.header {
  border-bottom: 1px solid var(--color-border);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.title {
  font-weight: bold;
  font-size: clamp(1.25rem, 3vw + 0.5rem, 2rem);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
}

