.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.label {
  font-weight: 500;
  white-space: nowrap;
  font-size: 0.875rem;
}

.select {
  width: auto;
  flex: 1;
}

